input[type="text"], input[type="password"] {
	color: black;
	padding: 0.4%;
}

legend {
	font-family: roboto-bold;
	color: #FFFFE7;
	border: 0;
}
section.form-section {
	padding:2%;
	width:65%;
	margin:auto;
	margin-top: 1%;
	border-radius: 2%;
	background-color: rgba(79,77,80,0.5);
	color: #FFFFE7;
	font-family: roboto;
	font-size: 15px;
}

#signUp{
	padding:2%;s
	margin:auto;
	margin-top: 1%;
	background-color: transparent;
	color: #FFFFE7;
	font-family: roboto;
	font-size: 15px;
	border: 0px;
	
}
.form-section > h1 {
	font-family: built-titling;
	font-size: 50px;
	letter-spacing: 3px;
	color: white;
}
div.form-element > label {
	font-family: roboto-bold;
	width: 100%;
}

div.form-element {
	padding-bottom:1%;
}
