$block-bg: rgba(255, 255, 255, 0.7);
$light-gray: #C9C5CB;
$white: #FFFFE7;
$maroon: #7D3238;
$dark-gray: #333D38;
$green: #0D3824;
$block-radius: 10px;

/* FONTS */
@font-face {
	font-family: built-titling;
	src: url("../fonts/built-titling-rg.ttf");
}

@font-face {
	font-family: built-titling-bold;
	src: url("../fonts/built-titling-bd.ttf");
}

@font-face {
	font-family: roboto;
	src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
	font-family: roboto-bold;
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: basic-title-font;
	src: url("../fonts/basictitlefont.ttf");
}

body {
	background-image: none;
	color: $dark-gray;
	background-color: $light-gray;
}

h1, h2, h3, h4, h5, h6 {
	color:$maroon;
}

header {
	background-color: $block-bg;
	padding: 0.5%;
	font-size: 40px;
	font-family: built-titling-bold;
	letter-spacing: 3px;

	span#display-name {
		height:80%;
		margin: 10% 10px;
		font-size: 20px;
	}


	#page-title {
		float:left;

		a {
			color: $maroon;
			text-decoration: none;
		}
	}

	#option {
		float: right;

		button {
			font-family: built-titling;
			letter-spacing: 2px;
			font-size: 20px;
			background-color: $light-gray;
			margin-left: 30px;
		}
	}
}

div#content {
	padding: 10px;
}

div.sidebar {
	padding: 10px;
	border-radius: $block-radius;
	background-color: $block-bg;

	nav {
		margin: 10px 0;
		div {
			margin: 10px 0px;
		}
		a {
			display: block;
		}
		hr.separator {
			margin: 0 10%;
			width: 80%;
			background: $white;
			height: 1px
		}
	}
}

img.user-photo {
	border-radius: 20%;
	width: 70px;
}
