@import 'colors';
@import 'blocks';
@import 'fonts';

body {
	background-image: none;
	color: $dark-gray;
	background-color: $light-gray;
}

h1, h2, h3, h4, h5, h6 {
	color:$maroon;
}

header {
	background-color: $block-bg;
	padding: 0.5%;
	font-size: 40px;
	font-family: built-titling-bold;
	letter-spacing: 3px;

	span#display-name {
		height:80%;
		margin: 10% 10px;
		font-size: 20px;
	}


	#page-title {
		float:left;

		a {
			color: $maroon;
			text-decoration: none;
		}
	}

	#option {
		float: right;

		button {
			font-family: built-titling;
			letter-spacing: 2px;
			font-size: 20px;
			background-color: $light-gray;
			margin-left: 30px;
		}
	}
}

div#content {
	padding: 10px;
}

.content-holder {
	padding: 10px;
	border-radius: $block-radius;
	background-color: $block-bg;
}

	nav {
		margin: 10px 0;
		div {
			margin: 10px 0px;
		}
		a {
			display: block;
		}
		hr {
			margin: 0 10%;
			width: 80%;
			background: $green;
			height: 1px;
		}
	}

img.user-photo {
	border-radius: 20%;
	width: 70px;
}


