@import 'default';

article.post {
	background-color: $block-bg;
	border-radius: $block-radius;
	padding: 10px;
	margin: 0px 10px 10px 10px;

	img.user-photo {
		margin-top: 10px;
	}

	section.post-body {
		h1 {
			font-size: 20px;
			font-weight: bold;
			margin-top: 10px;
		}

		hr {
			width:90%;
			height: 1px;
			border: 0;
			background: $green;
			margin-right: 10%;
		}
	}
}
